* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

pre::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

html {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #ccc;

  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  min-width: 320px;
  color: var(--fg);
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #333;
  --c-scrollbar-hover: #444;

  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/font/woff2/FiraCode-Regular.woff2') format('woff2'), url('@/assets/font/woff/FiraCode-Regular.woff') format('woff');
}
