@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;
}

.prose a {
  text-underline-offset: 4px;
}

html.dark .prose {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

@variants media-hover {
  .prose a:hover {
    color: var(--fg-deeper);
  }
}
